<div class="container-fluid">
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5 mx-auto">
        <div class="card card-forgotPwd my-5">
          <div class="card-body">
            <div class="app-logo mb-2">
              <img class="text-center img" src="/src/assets/images/whatsapp_logo.jpg" alt="whatsapp logo">
            </div>
              <h5 class="card-title text-center">Retrieve Password</h5>
              <div class="card-title text-center">
                Get your password on your mail
              </div>
              
            <form class="form-forgotPwd" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
             
              <!---------- email field ---------> 
              <div class="form-label-group">
  
                <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" id="inputEmail" class="form-control" placeholder="Email address"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email autofocus>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
                <label for="inputEmail">Email address</label>
              </div>  
                      
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send</button>
                    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>